
.loginContainer{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

form{
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
}
.loginHeading{
    color: black;
    align-items: center;
}
label{
    float: left;

}
input{
    float: right;
}